<div class="card mb-4">
  <div class="card-body bg-light">
    <img class="img-thumbnail float-right" src="https://api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">
          <ng-container *ngFor="let s of stars">⭐️</ng-container>
        </span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button
      (click)="doRateDown()"
      class="btn btn-secondary mr-2"> - </button>

    <button
      (click)="doRateUp()"
      class="btn btn-primary mr-2"> + </button>

    <a class="btn btn-primary" [routerLink]="['/book', book.isbn]">Details</a>

    <!-- <a routerLink="/book/{{ book.isbn }} ">Details</a>
    <a [routerLink]="'/book/' + book.isbn">Details</a> -->
  </div>
</div>
